<%- include("../public/partials/header") -%>
<div class="row my-md-5 middle-row-3">

    <% if(message !='' ){ %>
        <div class="container p-4 m-0">
            <div class="row m-0">
                <div class="col">
                    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                        <%= message %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Cerrar"></button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <% if(success !='' ){ %>
        <div class="container p-4 m-0">
            <div class="row m-0">
                <div class="col">
                    <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
                        <%= success %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Cerrar"></button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <div class="col-md-6 col-sm-12 d-flex flex-column">
        <a href="/calidad/calidad-inicio" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
            type="button">Registrar ingreso a Control de Calidad</a>
        
        <a href="/calidad/entonado-fin" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
            type="button">Registrar egreso de Entonado</a>

        <a href="/calidad/solicitud-adicion" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
        type="button">Registrar solicitud de Adición al Lote</a>
            
        </div>
        <div class="col-md-6 col-sm-12 d-flex flex-column">
            <a href="/calidad/calidad-fin" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
            type="button">Registrar egreso de Control de Calidad</a>
            
            <a href="" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                type="button">Registrar nueva Prueba al Lote</a>
            
            <a href="" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
                type="button">Registrar Adición realizada al Lote</a>
    </div>
</div>


<%- include("../public/partials/footer") -%>