<div class="row d-flex justify-content-md-end justify-content-center">
    <a href="/usuarios" class="btn btn-outline-principal my-2 mx-md-5">Regresar</a>
</div>

</div>

<script src="../JS/Bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>