<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/basf-principal.css">
    <link rel="stylesheet" href="../CSS/basf-menu.css">
    <link rel="shortcut icon" href="../img/basf-logo.ico" type="image/x-icon" />
    <title>Menú Principal</title>
</head>

<body class="bg-img-scene">

    <div class="container-fluid principal-cont">
        <nav class="navbar navbar-expand-lg fixed-top bg-light">
            <div class="container-fluid">
                <a href="/menu" class="navbar-brand col-3">
                    <img src="../img/logo.png" alt="BASF Mexicana" class="logo">
                </a>
                <div class="card user-card bg-principal col-9">
                    <div class="row d-flex my-3">
                        <div class="col-md-3 col-sm-12 d-flex align-items-center justify-content-center mt-sm-1 mt-2">
                            <a href="user-data.html">
                                <img src="../img/user.png" alt="Nombre" class="user-card-img rounded-circle bg-light">
                            </a>
                        </div>
                        <div class="col-md-9 d-flex align-items-center justify-content-center">
                            <% switch(user.tipo_usuario){ 
                                case 1: %>
                                <a href="/perfil" class="user-card-name">
                                    Administrador - <%= user.nombre %>
                                </a>
                            <% break;
                                case 2: %>
                                <a href="/perfil" class="user-card-name">
                                    Moderador - <%= user.nombre %>
                                </a>
                            <% break;
                                case 3: %>
                                <a href="/perfil" class="user-card-name">
                                    Acceso Limitado - <%= user.nombre %>
                                </a>
                            <% break;
                                case 4: %>
                                <a href="/perfil" class="user-card-name">
                                    Sólo Vista - <%= user.nombre %>
                                </a>
                            <% break;
                            } %>
                        </div>
                    </div>
                </div>
            </div>
        </nav>