<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/basf-principal.css">
    <link rel="stylesheet" href="../CSS/basf-menu.css">
    <link rel="shortcut icon" href="../img/basf-logo.ico" type="image/x-icon" />
    <title>Menú Principal</title>
</head>

<body class="bg-img-scene">

    <div class="container-fluid principal-cont">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="menu.html" class="navbar-brand col-3">
                    <img src="../img/logo.png" alt="BASF Mexicana" class="logo">
                </a>
                <div class="card user-card bg-principal col-9">
                    <div class="row d-flex my-3">
                        <div class="col-md-3 col-sm-12 d-flex align-items-center justify-content-center mt-sm-1 mt-2">
                            <a href="user-data.html">
                                <img src="../img/user.png" alt="Nombre" class="user-card-img rounded-circle">
                            </a>
                        </div>
                        <div class="col-md-9 d-flex align-items-center justify-content-center">
                            <a href="user-data.html" class="user-card-name">Tipo Usuario - Nombre</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="row my-md-3 middle-row">
            <div class="col-md-6 col-sm-12 d-flex flex-column">
                <button class="btn btn-secondary btn-task my-md-3 my-3 align-self-center" type="button">Inicio de
                    Evaluación de Calidad</button>
                <button class="btn btn-secondary btn-task my-md-3 my-3 align-self-center" type="button">Inicio de
                    Entonado</button>
                <button class="btn btn-secondary btn-task my-md-3 my-3 align-self-center" type="button">Evaluación de
                    Terminado</button>
                <button class="btn btn-secondary btn-task my-md-3 my-3 align-self-center" type="button">Bitácora de
                    Entonado</button>
            </div>
            <div class="col-md-6 col-sm-12 d-flex flex-column">
                <button class="btn btn-secondary btn-task my-md-3 my-3 align-self-center" type="button">Fin de
                    Evaluación de Calidad</button>
                <button class="btn btn-secondary btn-task my-md-3 my-3 align-self-center" type="button">Fin de
                    Entonado</button>
                <button class="btn btn-secondary btn-task my-md-3 my-3 align-self-center" type="button">Histórico de
                    Lotes</button>
                <button class="btn btn-secondary btn-task my-md-3 my-3 align-self-center" type="button">Nueva
                    Formula</button>
            </div>
        </div>
        <div class="row d-flex justify-content-md-end justify-content-center">
            <button type="button" class="btn btn-outline-principal my-2 mx-md-5">Cerrar Sesión</button>
        </div>

    </div>

    <script src="../JS/Bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>