<%- include("../public/partials/header") -%>
<div class="row my-md-5 middle-row-2">

    <% if(message !='' ){ %>
        <div class="container p-4 m-0">
            <div class="row m-0">
                <div class="col">
                    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                        <%= message %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Cerrar"></button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <% if(success !='' ){ %>
        <div class="container p-4 m-0">
            <div class="row m-0">
                <div class="col">
                    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                        <%= success %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Cerrar"></button>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <div class="col-md-6 col-sm-12 d-flex flex-column">
        <a href="/formula/nuevo-color" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
            type="button">Registrar nuevo Color</a>
        
        <a href="/formula/nueva-pasta" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
        type="button">Registrar nueva Pasta</a>

        <a href="/formula/color-info" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
        type="button">Ver información del Color</a>
        
        <a href="/formula/formulas-color" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
        type="button">Ver Fórmulas del Color</a>

    </div>
    <div class="col-md-6 col-sm-12 d-flex flex-column">
        <a href="/formula/nueva-formula" class="btn btn-secondary btn-task my-md-3 my-3 p-3 align-self-center"
        type="button">Registrar nueva Formula para Color existente</a>
        
        <a href="/formula/nuevo-lote-pasta" class="btn btn-secondary btn-task my-md-3 my-3 p-3 align-self-center"
        type="button">Registrar nuevo Lote para Pasta existente</a>
        
        <a href="/formula/pastas-formula" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
        type="button">Ver Pastas de la Fórmula</a>
        
        <a href="/formula/lotes-pasta" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
        type="button">Ver Lotes de Pastas</a>
    </div>
</div>

<%- include("../public/partials/footer") -%>