<%- include("../public/partials/header") -%>

<div class="row my-md-2 middle-row-1">
    <div class="col-md-6 col-sm-12 d-flex flex-column">
        <a href="" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
            type="button">Registrar nueva BOM</a>

    </div>
    <div class="col-md-6 col-sm-12 d-flex flex-column">
        <a href="" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
            type="button">Registrar Pastas</a>
    </div>
</div>

<%- include("../public/partials/footer") -%>