<%- include("../public/partials/header") -%>

<div class="row my-md-5 middle-row-1">
    <div class="col-md-6 col-sm-12 d-flex flex-column">
        <a href="/formula/nuevo-color" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
            type="button">Registrar nuevo Color</a>
        
        <a href="/formula/nueva-pasta" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
        type="button">Registrar nueva Pasta</a>

    </div>
    <div class="col-md-6 col-sm-12 d-flex flex-column">
        <a href="" class="btn btn-secondary btn-task my-md-3 my-3 p-3 align-self-center"
            type="button">Registrar nueva Formula para Color existente</a>
        
        <a href="" class="btn btn-secondary btn-task my-md-3 my-3 p-3 align-self-center"
        type="button">Registrar nuevo Lote para Pasta existente</a>
    </div>
</div>

<%- include("../public/partials/footer") -%>