<%- include("../public/partials/header") -%>

<div class="row my-md-3 d-flex justify-content-center">
    <div class="col-11 d-flex align-self center bg-principal h-100 col-ppal-middle-row">
        <form action="/usuarios/crear-administrador" method="post" class="w-100 h-100">
            <div class="row d-flex align-self center p-5">
                <div class="col-6 d-flex flex-column">
                    <div class="form-group my-2 align-self-center d-flex w-100 my-3">
                        <input name="sap" placeholder="Codigo SAP" type="text" class="form-control input-lg" autofocus>
                    </div>
                    <div class="form-group my-2 align-self-center d-flex w-100 my-3">
                        <input name="descripcion" placeholder="Descripción" type="text" class="form-control w-100">
                    </div>
                    <div class="form-group my-2 align-self-center d-flex w-100 my-3">
                        <input name="ap_materno" placeholder="Apellido Materno" type="text" class="form-control w-100">
                    </div>
                </div>
                <div class="col-6 d-flex flex-column">
                    <div class="form-group my-2 align-self-center d-flex w-100 my-3">
                        <input name="departamento" placeholder="Departamento" type="text" class="form-control w-100">
                    </div>
                    <div class="form-group my-2 align-self-center d-flex w-100 my-3">
                        <input name="email" placeholder="Correo" type="email" class="form-control w-100">
                    </div>
                    <div class="form-group my-2 align-self-center d-flex w-100 my-3">
                        <input name="contrasena" placeholder="Contraseña autogenerada" type="password" class="form-control w-100" disabled readonly>
                    </div>
                    <div class="form-group my-2 align-self-center d-flex w-100 my-3">
                        <input name="telefono" placeholder="Telefono" type="text" class="form-control w-100">
                    </div>
                </div>
                <div class="form-group my-2 align-self-center d-flex w-100 my-3">
                    <button class="btn btn-opcion bg-principal w-100" type="submit">Registrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<%- include("../public/partials/footer-formula") -%>