<%- include("../public/partials/header") -%>

    <div class="row padding-row my-md-5 d-flex justify-content-center">
        
        <% if(message !='' ){ %>
            <div class="container p-4 m-0">
                <div class="row m-0">
                    <div class="col">
                        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                            <%= message %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Cerrar"></button>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>

        <% if(success !='' ){ %>
            <div class="container p-4 m-0">
                <div class="row m-0">
                    <div class="col">
                        <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                            <%= success %>
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                    aria-label="Cerrar"></button>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>

        <div class="col-11 d-flex align-self center bg-principal h-100 col-ppal-middle-row">

            <form action="/formula/nueva-pasta" method="post" class="w-100 h-100">

                <div class="row d-flex align-self-center p-5">
                    <div class="col-12 d-flex flex-column" id="contenedor-principal">
                        <h5 class="text-light text-center my-2">Datos de la Pasta</h5>
                        <div class="form-group align-self-center d-flex w-100 my-3" id="divPasta">
                            <input name="sap" placeholder="Código SAP de la pasta" type="text" class="form-control w-100" id="sap" required>
                            <input name="descripcion" placeholder="Descripcion" type="text" class="form-control w-100 mx-2" id="descripcion" required>
                            <select name="tecnologia" class="form-select" aria-label="Seleccion de tecnologia" id="tecnologia" required>

                                <option selected >Seleccione la tecnología </option>
                                <option value="Base Agua">Base Agua</option>
                                <option value="Base Solvente">Base Solvente</option>

                            </select>
                        </div>
                        <h5 class="text-light text-center my-2">Datos del Lote de la Pasta</h5>
                        <div class="form-group align-self-center d-flex w-100 my-3">
                            <input name="lote" placeholder="Lote de la Pasta" type="text" class="form-control w-100" id="lote" required>
                        </div>
                        <div class="form-group align-self-center d-flex w-100 my-3">
                            <textarea class="form-control" name="comentarioLote" id="comentarioLote" placeholder="Comentarios del Lote la Pasta" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group align-self-center d-flex w-100 my-3">
                        <button class="btn btn-opcion bg-principal w-100" type="submit">Registrar</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <%- include("../public/partials/footer-formula") -%>