
<%- include("../public/partials/header") -%>

<div class="row my-md-5 middle-row-3">
    <div class="col-md-6 col-sm-12 d-flex flex-column">
        <a href="/terminado/inicio-evaluacion" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
            type="button">Registrar Inicio</a>

    </div>
    <div class="col-md-6 col-sm-12 d-flex flex-column">
        <a href="/terminado/fin-evaluacion" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
            type="button">Registrar Fin</a>
    </div>
</div>

<%- include("../public/partials/footer") -%>
