<%- include("public/partials/header") -%>

<% if(user.tipo_usuario == 1){ %>
    <div class="row my-md-2 middle-row">
        <div class="col-md-6 col-sm-12 d-flex flex-column">
            <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Evaluación de Terminado</a>
            <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Calidad</a>
            <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Entonado</a>
            <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Bitácora de Entonado</a>
        </div>
        <div class="col-md-6 col-sm-12 d-flex flex-column">
            <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Nuevo Usuario</a>
            <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Actualizar Privilegios de Usuario</a>
            <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Nueva Formula</a>
            <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Consultar Lotes</a>
        </div>
    </div>
<% } else if(user.tipo_usuario == 2){ %>
    <div class="row my-md-2 middle-row-2">
        <div class="col-md-6 col-sm-12 d-flex flex-column">
            <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Evaluación de Terminado</a>
            <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Calidad</a>
            <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Entonado</a>
            <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Bitácora de Entonado</a>
        </div>
        <div class="col-md-6 col-sm-12 d-flex flex-column">
            <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Nuevo Usuario</a>
            <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Nueva Formula</a>
            <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Consultar Lotes</a>
        </div>
    </div>
<% } else if(user.tipo_usuario == 3){ %>
        <div class="row my-md-1 middle-row-2">
            <div class="col-md-6 col-sm-12 d-flex flex-column">
                <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Evaluación de Terminado</a>
                <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Calidad</a>
                <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Entonado</a>
            </div>
            <div class="col-md-6 col-sm-12 d-flex flex-column">
                <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Bitácora de Entonado</a>
                <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Nueva Formula</a>
                <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Consultar Lotes</a>
            </div>
        </div>
<% } else if(user.tipo_usuario == 4){ %>
            <div class="row my-md-2 middle-row-1">
                <div class="col-md-6 col-sm-12 d-flex flex-column">
                    <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Bitácora de Entonado</a>
                </div>
                <div class="col-md-6 col-sm-12 d-flex flex-column">
                    <a class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center" type="button">Consultar Lotes</a>
                </div>
            </div>
<% } %>

<%- include("public/partials/footer") -%>