<%- include("../public/partials/header") -%>

<div class="row my-md-5 middle-row-3">
    <div class="col-md-6 col-sm-12 d-flex flex-column">
        <a href="/lotes/consulta-lote" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
            type="button">Buscar Lote</a>            
    </div>
    <div class="col-md-6 col-sm-12 d-flex flex-column">
        <a href="/lotes/consulta-bom" class="btn btn-secondary btn-task my-md-3 my-3 py-4 align-self-center"
            type="button">Buscar Lotes por Color</a>
    </div>
</div>

<%- include("../public/partials/footer") -%>