<%- include("../public/partials/header") -%>

<div class="row my-md-3 middle-row-2 d-flex justify-content-center">
    <div class="col-11 d-flex align-self center bg-principal h-100 col-ppal-middle-row">
        <form action="" method="post">
            <div class="row d-flex">
                <div class="col-6 d-flex flex-column column-input">
                    <div class="form-group my-2 align-self-center d-flex w-100 my-3">
                        <input placeholder="Nombre" type="text" class="form-control input-lg" autofocus>
                    </div>
                    <div class="form-group my-2 align-self-center d-flex w-100 my-3">
                        <input placeholder="Apellido Paterno" type="text" class="form-control w-100">
                    </div>
                    <div class="form-group my-2 align-self-center d-flex w-100 my-3">
                        <input placeholder="Apellido Materno" type="text" class="form-control w-100">
                    </div>
                    <div class="form-group my-2 align-self-center d-flex w-100 my-3">
                        <input placeholder="Departamento" type="text" class="form-control w-100">
                    </div>
                </div>
                <div class="col-6 d-flex flex-column column-input">
                    <div class="form-group my-2 align-self-center d-flex w-100 my-3">
                        <input placeholder="Correo" type="text" class="form-control w-100">
                    </div>
                    <div class="form-group my-2 align-self-center d-flex w-100 my-3">
                        <input placeholder="Contrasena" type="text" class="form-control w-100">
                    </div>
                    <div class="form-group my-2 align-self-center d-flex w-100 my-3">
                        <input placeholder="Telefono" type="text" class="form-control w-100">
                    </div>
                    <div class="form-group my-2 align-self-center d-flex w-100 my-3">
                        <button class="btn btn-opcion bg-principal w-100" type="submit">Registrar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<%- include("../public/partials/footer-user") -%>